api/surfjudge-443400-035fd5609c22.json
api/service_account_key.json.b64
api/wavescore_accessKeys.csv
api/__pycache__/
data/**/*.mp4
data/**/*.jpg
data/**/orig*
ios-app/wavescore.xcodeproj/
ios-app/wavescore/.DS_Store
models/
src/__pycache__/
img/
tmp/
.DS_Store
