.DS_Store
api/__pycache__/
api/service_account_key.json.b64
api/surfjudge-443400-035fd5609c22.json
api/wavescore_accessKeys.csv
data/**/*.jpg
data/**/*.mp4
data/**/orig*
img/
ios/wavescore.xcodeproj/
ios/wavescore/.DS_Store
models/
src/__pycache__/
tmp/
