.DS_Store
api/__pycache__/
api/keys/
api/models/
data/**/*.jpg
data/**/*.mp4
data/**/*.webm
data/**/orig*
img/
ios/wavescore.xcodeproj/
ios/wavescore/.DS_Store
models/
src/__pycache__/
src/keys/
tmp/
